<h3 class="header">Change PIN</h3>


<form class="form" [formGroup]="formData" (ngSubmit)="OnSubmit()">

  <label for="old-pin">Old PIN: </label>
  <input id="old-pin" type="number" placeholder="0000" formControlName="oldPin" (selectionChange)="ApplyValidation()" />

  <br />
  <br />

  <label for="new-pin">New PIN: </label>
  <input id="new-pin" type="number" formControlName="newPin" />

  <br />
  <br />

  <label for="confirm-new-pin">Confirm New PIN: </label>
  <input id="confirm-new-pin" type="number" formControlName="ConfirmNewPin" />

  <br />
  <br />

  <button type="submit" [disabled]="!formData.valid">Change PIN</button>

</form>
