.form {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

.header {
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.tp-radio-button {
  margin: 5px;
}

.tp-selected-value {
  margin: 15px 0;
} 
