<h3 class="header">Fund Transfer</h3>


<form class="form" [formGroup]="formData" (ngSubmit)="OnSubmit()">

  <div class="row" *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>{{msg}}</strong>

      </p>
    </div>
  </div>

  <label for="acc-Number">From Account: </label>
  <input id="accNumber" type="number" formControlName="fromAccount" />

  <br />
  <br />

  <label for="beneficiary-Account">Beneficiary Account: </label>
  <input id="beneficiary-Account" type="number" formControlName="beneficiaryAcc" />

  <br />
  <br />

  <label for="beneficiary-Account-type">Beneficiary Account Type: </label>
  <input id="beneficiary-Account-type" type="number" formControlName="beneficiaryAccType" />

  <br />
  <br />

  <label for="amount">Amount: </label>
  <input id="amount" type="number" formControlName="amount" />

  <br />
  <br />

  <button type="submit" [disabled]="!formData.valid">Transfer</button>
